anyio==4.14.1
click==8.4.2
contourpy==1.3.3
cycler==0.12.1
docutils==0.23
fonttools==4.63.0
h11==0.16.0
idna==3.18
itsdangerous==2.2.0
jedi==0.19.2
joblib==1.5.3
kiwisolver==1.5.0
loro==1.13.1
marimo==0.23.13
Markdown==3.10.2
matplotlib==3.11.0
msgspec==0.21.1
narwhals==2.23.0
numpy==2.5.0
packaging==26.2
pandas==3.0.3
parso==0.8.7
pillow==12.3.0
psutil==7.2.2
Pygments==2.20.0
pymdown-extensions==10.21.3
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.32
PyYAML==6.0.3
pyzmq==27.1.0
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
six==1.17.0
starlette==1.3.1
threadpoolctl==3.6.0
tomlkit==0.15.0
uvicorn==0.49.0
websockets==16.0
